### Lists

In [1]:
job_skills = ['sql', 'tableau', "excel"]
job_skills

['sql', 'tableau', 'excel']

In [2]:
job_skills.append('python')
job_skills

['sql', 'tableau', 'excel', 'python']

In [3]:
job_skills.remove("tableau")

In [ ]:
len(job_skills)

3

In [5]:
job_skills[1]

'excel'

In [ ]:
job_skills.insert(2, "tableau")

In [7]:
job_skills

['sql', 'excel', 'tableau', 'python']

In [8]:
job_skills[0:2]

['sql', 'excel']

In [9]:
job_skills[:]

['sql', 'excel', 'tableau', 'python']

In [10]:
job_skills[:1]

['sql']

In [11]:
job_skills[::1]

['sql', 'excel', 'tableau', 'python']

In [12]:
job_skills[::2]

['sql', 'tableau']

In [13]:
job_skills[::3]

['sql', 'python']

### Merge Lists

In [57]:
luke_skills = ['python', 'bigquery', 'r']
print(id(luke_skills))
kelly_skills = ['python', 'sql', 'looker']
all_skills = luke_skills + kelly_skills
luke_skills += kelly_skills
print(id(luke_skills))

2896683353536
2896683353536

In [18]:
all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [19]:
all_skills[::2]

['python', 'r', 'sql']

In [20]:
all_skills[-1]

'looker'

### Unpacking a list into variables

In [21]:
skill1, skill2, skill3, skill4 = job_skills
print(skill1)
print(skill2)
print(skill3)
print(skill4)

sql
excel
tableau
python

In [23]:
skill_concerned, *skill_dont_care = job_skills
print(skill_concerned)
print(skill_dont_care)

sql
['excel', 'tableau', 'python']

### Dictionary

In [28]:
job_type_skills = {
    'database': 'postgresql', 
    'language': 'python', 
    'library': 'pandas'
}
job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [36]:
job_type_skills["library"]

'pandas'

In [37]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [38]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [42]:
job_type_skills.update({'cloud': 'google cloud'})

In [43]:
job_type_skills

{'database': 'postgresql',
 'language': 'python',
 'library': 'pandas',
 'cloud': 'google cloud'}

In [44]:
job_type_skills['version control'] = 'git'
job_type_skills

{'database': 'postgresql',
 'language': 'python',
 'library': 'pandas',
 'cloud': 'google cloud',
 'version control': 'git'}

### Sets

In [46]:
skills= {'tableau', 'sql', 'python', 'statistics'}
skills

{'python', 'sql', 'statistics', 'tableau'}

In [47]:
skills.add('looker')
skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
# We can convert list to set 
set(skills) 
# We can convert set to list
list(skills)

### Tuples

In [49]:
skills_Tuples= ('tableau', 'sql', 'python', 'statistics')
skills_Tuples

('tableau', 'sql', 'python', 'statistics')

In [51]:
skills_Tuples[1]

'sql'

In [53]:
skills_Tuples[0:2]

('tableau', 'sql')

In [54]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [55]:
luke_skills_tuple = ('python', 'bigquery', 'r')
kelly_skills_tuple = ('python', 'sql', 'looker')
luke_skills_tuple + kelly_skills_tuple

('python', 'bigquery', 'r', 'python', 'sql', 'looker')

In [56]:
luke_skills_tuple = ('python', 'bigquery', 'r')
print(id(luke_skills_tuple))
kelly_skills_tuple = ('python', 'sql', 'looker')
luke_skills_tuple += kelly_skills_tuple 
print(id(luke_skills_tuple))

2896683359168
2896683413664